* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-player {
    overflow: hidden;
    height: 150px;
    width: 150px;
    background-color: black;
    border-radius: 50%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.video-player2 {
    overflow: hidden;
    width: 100vw; /* Take full width of the viewport */
    height: 100vh; /* Take full height of the viewport */
    background-color: black;
    display: flex;
    
}

#user-1-container {
    position: fixed;
    top: 10px;
    left: 5x;
    background-color: rgb(47, 140, 71);
    z-index: 1; /* Ensure user-1 is above user-2 */
}

#user-2-container {
    background-color:rgb(47, 140, 71);
    height: 100vh;
    width: 100vw;
}

#videos {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1em;
}
.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(47, 140, 71);
    /* border: 1px solid black; */
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15px;
    /* font-weight: bolder; */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
  
  .custom-alert-content {
    text-align: center;
  }
  
  .custom-alert-message {
    color: white;
    display: block;
    margin-bottom: 10px;
  }
  
  .custom-alert-button {
    padding: 8px 12px;
    background-color: white;
    color: rgb(47, 140, 71);
    border: 1px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .custom-alert-button:hover {
    background-color: #005aba;
    color: white;
  }
  
.control-container {
    background-color: rgb(47, 140, 71);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.control-container img {
    height: 30px;
    width: 30px;
}

#leave-btn {
    background-color: rgb(255, 80, 80, 1);
}

@media screen and (max-width: 600px) {
    .video-player {
        height: 200px;
        width: 200px;
    }

    .control-container img {
        height: 20px;
        width: 20px;
    }
}
